.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  
  .modal {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  
  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  
  .btnSave {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; /* Espaciado entre el ícono y el texto */
  }


.btnCancel {
  align-items: center;
  background: transparent;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 6px;
  transition: background 0.2s ease;
}

.btnSave:hover {
  background-color: rgba(76, 175, 80, 0.1); /* verde suave */
}

.btnCancel:hover {
  background-color: rgba(244, 67, 54, 0.1); /* rojo suave */
}

/* Opcional: colores base del ícono */
.btnSave svg {
  color: #4caf50;
}

.btnCancel svg {
  color: #f44336;
}