.card {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 400px; 
  overflow: hidden;
  position: relative;
  width: 300px;
}

.image {
  height: 70%;
  object-fit: cover;
  width: 100%;
}

.info {
  height: 30%;
  padding: 16px;
  background: #fff;
  border-top: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  border-radius: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.description h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: var(--card-title);
}

.description span {
  font-size: 14px;
  color: var(--card-text);
  display: block;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.editBtn,
.deleteBtn {
  align-items: center;
  background: transparent;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 6px;
  transition: background 0.2s ease;
}

.editBtn:hover {
  background-color: rgba(76, 175, 80, 0.1); /* verde suave */
}

.deleteBtn:hover {
  background-color: rgba(244, 67, 54, 0.1); /* rojo suave */
}

/* Opcional: colores base del ícono */
.editBtn svg {
  color: #4caf50;
}

.deleteBtn svg {
  color: #f44336;
}

