body{
    background-image: url('../../../assets/fondo_frutas.png');
    background-size: cover;
    background-position: center;
  }
  
  .registerForm {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    gap: 0.5rem;
    background-color: var(--background);
    width: 100%;
    max-width: 40rem; /* Controla el ancho máximo del formulario */
    padding: 3rem 2.5rem;
    border-radius: 1.5rem;
    height: fit-content;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  
  /* Estilos para la sección de bienvenida */
  .registerWelcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  
  .registerWelcome img {
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
    object-fit: contain; /* Asegura que la imagen no se deforme */
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }  
  
  .success {
    color: green;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }
  
  .loginRedirect {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Align the div to the right */
    align-items: center; /* Ensure vertical alignment */
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .loginRedirect a {
    margin: 0; 
    text-align: right;
    text-decoration: none;
  }

  .loginRedirect:visited {
    color: var(--text);
  }

  .button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--button-background);
  color: white;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  font-size: 1rem;
}

.button:hover {
  background-color: var(--button-background-hover);
  color: white;
  cursor: pointer;
}