.inventoryContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin-left: 70px;
}

.inventoryContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mainSection {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  background-color: #f8f8f8;
  max-width: 100%;
  box-sizing: border-box; 
}
