body{
  background-image: url('../../../assets/fondo_frutas.png');
  background-size: cover;
  background-position: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  gap: 1rem;
  background-color: var(--white);
  width: 100%;
  max-width: 40rem; /* Controla el ancho máximo del formulario */
  padding: 3rem 2.5rem;
  border-radius: 1.5rem;
  height: fit-content;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Estilos para la sección de bienvenida */
.loginWelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}


.loginWelcome img {
  max-width: 120px;
  max-height: 120px;
  width: auto;
  height: auto;
  object-fit: contain; /* Asegura que la imagen no se deforme */
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}