.dashboardContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin-left: 70px;
  }
  
  .dashboardContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .mainSection {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    background-color: #f8f8f8;
  }