:root {
  /*Global variables*/
  --primary: #d4145a;
  --text: #1f2346;
  --white: #ffffff;
}

.inputWrapper {
  position: relative;
  padding: 0.9375rem 0 0;
  margin-bottom: 0.5rem;
}

.inputField {
  font-size: 1rem;
  color: var(--text);
  width: 100%;
  padding: 0.375rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  line-height: 2rem;
  height: 2.5rem;
  outline: 0;
  border: 0;
  vertical-align: middle;
  border-bottom: 2px solid var(--primary);
  background: transparent;
  transition: border-color 0.2s ease-in-out; /* Reduced duration for better performance */
}

.inputField::placeholder {
  color: transparent;
}

.inputLabel {
  user-select: none;
}

/* Estilos para la etiqueta cuando el campo de entrada está vacío y muestra el placeholder */
.inputField:placeholder-shown ~ .inputLabel {
  cursor: text; /* Changes the cursor to a text input style */
  color: var(--text); /* Color del texto de la etiqueta */
  top: 0.8rem; /* Posición vertical de la etiqueta */
  font-size: 1.2rem; /* Tamaño de la fuente de la etiqueta */
  position: absolute; /* Posiciona la etiqueta de manera absoluta */
}

/* General styles for the label */
.inputLabel,
.inputField:focus ~ .inputLabel,
.inputField:not(:placeholder-shown) ~ .inputLabel {
  position: absolute; /* Posiciona la etiqueta de manera absoluta */
  display: block; /* Muestra la etiqueta como un bloque */
  font-size: 1rem; /* Tamaño de la fuente de la etiqueta */
  color: var(--text); /* Color del texto de la etiqueta */
  transition: 0.3s; /* Transición suave para los cambios de estilo */
}

/* Styles for the label when the input field is focused or not empty */
.inputField:focus ~ .inputLabel,
.inputField:not(:placeholder-shown) ~ .inputLabel {
  top: -0.85rem; /* Adjusted for better alignment */
  font-size: 0.75rem; /* Reduce el tamaño de la fuente de la etiqueta */
  color: var(--primary); /* Cambia el color del texto de la etiqueta */
}

/* Styles for the input field when focused */
.inputField:focus {
  border-bottom: 2px solid var(--primary, #007BFF); /* Cambia el color del borde inferior del campo de entrada con un color de respaldo */
}