.button {
  background: var(--button-background);
  color: white;
  white-space: nowrap;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  outline: none;
  font-size: 1rem;
  letter-spacing: 0.025rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 200;
  width: 100%;
  min-height: 3rem;
  border-radius: 0.5rem;
}

.button:hover {
  background: var(--button-background-hover);
}
