:root {
  /*Global variables*/
  --primary: #d4145a;
  --text: #1f2346;
  --white: #ffffff;
}

.button {
  background: var(--primary);
  color: white;
  white-space: nowrap;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  outline: none;
  font-size: 1.25rem;
  letter-spacing: 0.025rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  width: 100%;
  min-height: 3.125rem;
  line-height: 3.5rem;
  border-radius: 2rem;
}

.button:hover {
  background: palevioletred;
}
  