

.button {
  background: var(--primary);
  color: white;
  white-space: nowrap;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  outline: none;
  font-size: 1.2rem;
  letter-spacing: 0.025rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  width: 100%;
  min-height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 2rem;
}

.button:hover {
  background:var(--button-background-hover);
}
  