:root{
    --nav: #FDFDFD;
}
.navContainer {
    background-color: var(--nav);
    position: fixed;
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 80px;
    z-index: 672;
}
