.navContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100vh;
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}


.navContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.logo img {
  width: 50px;
  height: 50px;
}

.iconItem {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.iconItem:hover {
  background-color: #ccd1d1;
  border-radius: 8px;
}

.iconItem:hover .tooltip {
  opacity: 1;
  transform: translateX(-10px);
}

.tooltip {
  /*pointer-events: none;*/
  background-color: #333;
  border-radius: 4px;
  color: white;
  font-size: 0.8rem;
  left: 60px;
  opacity: 0;
  padding: 0.3rem 0.6rem;
  position: absolute;
  transform: translateX(0);
  transition: opacity 0.2s ease, transform 0.2s ease;
  white-space: nowrap;
}

.separator {
  margin-bottom: 15rem; /* ajusta según el espacio que desees */
}

@media (max-width: 768px) {
    .navContainer {
      width: 50px;
      padding: 0.5rem 0;
    }
  
    .iconItem {
      padding: 0.3rem;
    }
  
    .tooltip {
      left: 45px;
      font-size: 0.7rem;
    }
  }
  
  @media (max-width: 480px) {
    .navContainer {
      width: 40px;
    }
  
    .iconItem {
      padding: 0.2rem;
    }
  
    .tooltip {
      display: none;
    }
  }

