/* Estilos globales para la aplicación */
:root {
  --primary: #ff6f61; /* Ejemplo de color primario */
  --secondary: #6b8e23; /* Color secundario */
  --background: #f5f5f5; /* Color de fondo general */
  --text: #333333; /* Color del texto */
  --highlight: #fffae5; /* Color de resalte (por ejemplo, para tarjetas) */
  --button-background: #ff7f50; /* Color de fondo de botones */
  --button-background-hover: #ff6347; /* Color de fondo de botones al pasar el mouse */
  --button-text: white; /* Color del texto de los botones */
  --icon-primary: #3a3a3a;
  --icon-delete: #e63946;
  --icon-nav-hover: #ccd1d1;
  --icon-view: #1d3557;
  --card-title: #2e2e2e;
  --card-text: #5c5c5c;
  --danger: #dc3545; /* Tu color rojo original */
  --danger-icon: #fff;
  --form-background: #FAF9F6;
  --font-family: 'Poppins', sans-serif; /* Fuente para títulos */
  --font-family-body: 'Inter', sans-serif; /* Fuente para texto de párrafos */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; 
  margin: 0; 
}

body {
  font-family: var(--font-family-body);
  background-color: var(--background);
  color: var(--text);
}

h1, h2, h3, h4 {
  font-family: var(--font-family);
}