:root {
  /*Global variables*/
  --primary: #d4145a;
  --text: #1f2346;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://drive.google.com/thumbnail?id=1EZCUYQIR6FIVK6iDOz6DY9vM16XYoZ0x&sz=w1366-h768");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex; /*1*/
  justify-content: center; /*2*/
  align-items: center; /*3*/
  overflow: hidden;
}