.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/assets/imagenes/fondo_frutas.png");
    background-size: cover;
  }
  